:root{
    --midnight-green: hsla(185, 68%, 20%, 1);
    --myrtle-green: hsla(174, 40%, 33%, 1);
    --cambridge-blue: hsla(140, 25%, 70%, 1);
    --dark-green: hsla(147, 94%, 6%, 1);
    --night: hsla(123, 91%, 4%, 1)

}