:root{
    --midnight-green: hsla(185, 68%, 20%, 1);
    --myrtle-green: hsla(174, 40%, 33%, 1);
    --cambridge-blue: hsla(140, 25%, 70%, 1);
    --dark-green: hsla(147, 94%, 6%, 1);
    --night: hsla(123, 91%, 4%, 1)

    --gray-100: #f7fafc;
    --gray-200: #edf2f7;
    --gray-300: #e2e8f0;
    --gray-400: #cbd5e1;
    --gray-500: #a0aec0;
    --gray-600: #718096;
    --gray-700: #4a5568;
    --gray-800: #2d3748;
    --gray-900: #1a202c;
    --navy-blue: #001f3f;
    --ice-white: #f4f8fb;
}